auth/
env/
attachments/
.idea/
.image_state
venv/
__pycache__

# ruff
.ruff_cache/

# Bot state, google service keys, llm context
*.json

# nix developer environment
.devenv/
.venv

# direnv
.envrc
.direnv